<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!--系统将/ 当做pubilic的目录  根目录-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form  role="form" method="post"><!--角色  不写的话提交当前路径   如果是get 的话，会将序列化，放到app.url里面-->
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="process">密码</label>
                    <input type="text" id="process" name="process">

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">登录</button>
                </div>

            </form>
        </div>
    </div>
</div>
<%if(sum){%>
<div class="alert alert-warning" role="alert">
    <a href="#" class="alert-link"><%=sum%></a>
</div>
<%}%>
</body>
</html>